Body {
text-align: left;
background-color: tomato;	
position: fixed;
height: 100%;
width: 100%;
font-family: Courier New;		
}
	
table{
border: 2px solid black;
border-collapse: collapse;
margin-top: 20px;
margin-left: 5%;
}

table td{
border: 2px solid black;
font-style: italic;
font-size: 150%;
}

.titulo{
margin-left: 40%;
margin-right: 49%;
background-color: black;
color: lightgreen;
}

.day {
text-align: center;
color: white;
}

.BBDD {
text-align: center;
color: black;
}

.LLMM {
text-align: center;
color: black;
}

.SI {
text-align: center;
color: black;
}

.ED {
text-align: center;
color: black;
}

.Prog {
text-align: center;
color: black;
}

.FOL {
text-align: center;
color: black;
}

.LLMMEx {
text-align: center;
color: black;
}

.ProgEx {
text-align: center;
color: black;
}

.empty {
text-align: center;
color: black;
}
	
.desc{
text-align: left;
margin-top: 20px;
margin-right: 55%;
background-color: black;
color: lightgreen;
display: none;
}
